<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/article.css" />
    <title>Архив статей</title>
  </head>
  <body class="archive">
    <script src="{{ STATIC_URL }}/static/js/jquery-3.6.0.min.js"></script>
    <script src="{{ STATIC_URL }}/static/js/fold-post.js"></script>
    <script src="{{ STATIC_URL }}/static/js/highlight-post.js"></script>
    <script src="{{ STATIC_URL }}/static/js/parallax.js"></script>
    <body>
      <div class="header">
        <img src="{{ STATIC_URL }}/static/img/amogus.png" class="logo"/>
      </div>
        <div class="header-text-area">
          <p>Коллективный блог</p>
          <div class="buttons">
            <a href="/registration" class="link"> Регистрация</a>
            <a href="/logIn" class="link">Вход</a>
            <a href="/logOut" class="link">Выйти</a>
          </div>
          <a href="/article/new/" class="add-new-post" class="link">Добавить новую статью</a>
        </div>
      <div class="icons-for-parallax">
          <img
            class="icons-for-parallax-first"
            src="{{ STATIC_URL }}/static/img/bee.png"
          />
          <img
            class="icons-for-parallax-second"
            src="{{ STATIC_URL }}/static/img/bee.png"
          />
          <img
            class="icons-for-parallax-third"
            src="{{ STATIC_URL }}/static/img/bee.png"
          />
        </div>
      <div class="archive">
        {% for post in posts %}
        <div class="one-post">
            <a href="article/{{ post.id }}" class="post-title link">{{ post.title }}</a>
            <button class="fold-button">Cвернуть</button>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
            <div class="one-post-highlight"></div>
        </div>
      </div>
      {% endfor %}
    </body>
  </body>
</html>